*{
  margin: 0;
  padding: 0;
}

/* container for search box */
/* .container{
  display: inline-flex;
  flex: 1 1 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
} */

.container{
  background-color: antiquewhite;
  display: flex;
  flex-direction: row wrap;
  justify-content: stretch;
}

.icon{
  padding: 0.8rem;
}

.searchBox{
  border: 0;
  flex: 1;
}

.searchButton{
  color: white;
  background: blue;
  border: 0;
  padding: 0.8rem;
  border-radius: 8px;
}